@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;500;600;700;800&display=swap');


// MA FONT
$myFont: 'Open Sans', sans-serif;

// FONT-SIZE
$defautSize : 1rem;
$defautFontSize : 1.6*$defautSize;